pip
setuptools
wheel
fastapi
uvicorn
pdf2image
pytesseract
opencv-python
numpy --only-binary :all:
pandas --only-binary :all:
openpyxl
python-multipart
pdfplumber
PyMuPDF
sqlalchemy
pyodbc
psycopg2-binary